<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Match Update Notification</h1>
  <p>Hello,</p>
  <p>There has been an update to the match details. Here are the updated details:</p>
  <p>Updated Match Date: <%= @match.datetime %></p>
  <p>Updated Match Phone: <%= @match.phone %></p>
  <p>We are excited you are part of NYC🎾TC!</p>
  <!-- Add more details from the @match instance variable as needed -->
</body>
</html>
