<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>New Tennis Match Notification</h1>
  <p>Hello,</p>
  <p>A new tennis match has been scheduled. Here are the details:</p>
  <p>Match Date: <%= @match.datetime %></p>
  <p>Match Phone: <%= @match.phone %></p>
  <p>We are excited you are part of NYC🎾TC!</p>
  <!-- Add more details from the @match instance variable as needed -->
</body>
</html>