<!DOCTYPE html>
<html>
<head>
  <title>Your Application Name</title>
  <!-- Add the link to the favicon here -->
  <link rel="icon" href="/assets/favicon._tb_rails.ico" type="image/x-icon">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <!-- Other meta tags, stylesheets, or JavaScript files can go here -->
</head>
<body>
  <!-- Content from other views will be placed here -->
  <%= yield %>
</body>
</html>